<div class="wrap-bread-crumb breadcrumb_collection2">
  <div class="text-center bg-breadcrumb" style="background-image : url({% if section.settings.bg_breadcrumb != blank  %}{{section.settings.bg_breadcrumb | img_url : 'master'}} {% else %}//placehold.it/1920x510 {% endif %})">
    {% include 'breadcrumb' %}
  </div>
</div>

<div class="container container-v2">
  <div class="list-category row">
    {% for collection in collections %}

    {% if collection.empty? %}
    {% comment %}add default state for collection block in theme editor{% endcomment %}
    {% assign collection_image_url = '' %}
    {% else %}
    {% if collection.image %}
    {% capture collection_image_url %}{{ collection | img_url: 'master' }}{% endcapture %}
    {% elsif collection.products.first %}
    {% capture collection_image_url %}{{ collection.products.first | img_url: 'master' }}{% endcapture %}
    {% endif %}
    {% endif %}
    
    <div class="col-md-4 margin-bottom-30">
      <div class="img_collection">
        <a href="{{ collection.url }}">
          <img src="{{ collection_image_url }}" alt="{{ collection.title }}" title="{{ collection.title }}">
        </a>
      </div>
      <div class="info_col text-center">
        <h3 class="title_collection">
          {{ collection.title }}
        </h3>
        <div class="total_item"> {{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'Item', 'Items' }} </div>
        
        <a href="{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}" class="shop-button">
          {{'list_collection.view_more'|t}}
        </a>
      </div>

    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "List Collection",
  "settings": [
	
	{
    "type" : "image_picker",
    "id": "bg_breadcrumb",
    "label" : "Background Image Breadcrumb",
    "info" : "1920x510px recommended"
    },
	{
		"type" : "header",
		"content" : "Config Map"
	},
	{
      "type": "checkbox",
      "id": "enable_map",
      "label": "Enable?",
      "default": true
    },
    {
    "type" : "image_picker",
    "id": "image_map",
    "label" : "Image Map",
    "info" : "1400x580px recommended"
    },
	{
		"type" : "url",
		"id" : "link_map",
		"label" : "link map"
	},
   	{
      "type": "text",
      "id": "describe",
      "label": "Describe",
      "default": "Contact us to find out more or how we can help you better."
    },
	{
      "type": "header",
      "content": "Shop Info & Address"
    },
	{
		"type" : "paragraph",
		"content" : "Please scroll to bottom and click Add Content to add info for your Shop"
	},
	{
      "type": "checkbox",
      "id": "enable_info",
      "label": "Enable?",
      "default": true
    },
	{
      "type": "text",
      "id": "shop_name",
      "label": "Shop Name"
    },
	{
      "type": "text",
      "id": "shop_address",
      "label": "Shop Name"
    },
    {
      "type": "header",
      "content": "Section Contact Form"
    },
    {
      "type": "checkbox",
      "id": "enable_s_contactform",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "text",
      "id": "contactform_name",
      "label": "Placeholder name",
      "default": "User name*"
    },
    {
      "type": "text",
      "id": "contactform_email",
      "label": "Placeholder email",
      "default": "Email*"
    },
	{
      "type": "text",
      "id": "contactform_subject",
      "label": "Placeholder Subject",
      "default": "Subject"
    },
    {
      "type": "text",
      "id": "contactform_content",
      "label": "Placeholder Message",
      "default": "Message*"
    },
    {
      "type": "text",
      "id": "contactform_btn",
      "label": "Button name",
      "default": "Send"
    },
    {
      "type": "header",
      "info": "Scroll down to the bottom and click Add content",
      "content": "Section FAQs"
    },
    {
      "type": "checkbox",
      "id": "enable_s_faq",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "text",
      "id": "faq_title",
      "label": "Title",
      "default": "FAQs"
    }
  ],


  "presets": [
    {
      "name": "List Collection"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
