<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v5" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-slideshow-v5">
    <div class="slider-v2 js-slideshow-v5">
      {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
      {% if block.type == "slideshow" %}
      <div class="slideshow-item">
        <div class="bg-slider">
          <a href="{{block.settings.block_url}}" class="d-block">
            {% if block.settings.block_img != blank %}
            <img src="{{block.settings.block_img|img_url:'master'}}" class="img-responsive" alt="slideshow">
            {% else %}
            <img src="//placehold.it/1920x779" class="img-responsive" alt="slideshow">
            {% endif %}
          </a>
        </div>
        <div class="slideshow-info">
          <div class="slideshow-content">
            <div class="text-center">
            {% if block.settings.enable_content1 %}
            {% if block.settings.block_content1 != blank %}
            <p style="color: {{block.settings.color_slider}}" class="content1">{{block.settings.block_content1}}</p>
            {% endif %}
            {% endif %}

            {% if block.settings.block_content2 != blank %}
            <h3 style="color: {{block.settings.color_slider}}" class="content2">{{block.settings.block_content2}}</h3>
            {% endif %}

            {% if block.settings.block_content3 != blank %}
            <p style="color: {{block.settings.color_slider}}" class="content3">{{block.settings.block_content3}}</p>
            {% endif %}

            {% if block.settings.block_btn_name != blank %}
            <a href="{{block.settings.block_url}}" class="btn-sv2-{{section.id}}-{{block.id}} btn-slideshow">{{block.settings.block_btn_name}}</a>
            {% endif %}
            </div>

          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>

  </div>
</div>

<style>
  {% for block in section.blocks %}
  {% if block.type == 'slideshow' %}

  .section-slideshow-v3 .slideshow-content .btn-sv2-{{section.id}}-{{block.id}}{
    background-color: {{block.settings.bg_btn_name}};
    color:{{block.settings.color_btn_name}};
    border: 1px solid {{block.settings.bg_btn_name}};
  }
  .section-slideshow-v3 .slideshow-content .btn-sv2-{{section.id}}-{{block.id}}:hover {
    background-color: {{block.settings.bg_btn_name_hover}};
    border: 1px solid {{block.settings.color_btn_name}};
  }
  {% endif %}
  {% endfor %}
</style>

{% schema %}
{
  "name": "Slideshow v5",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "Slideshow",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_img",
          "label": "Image",
          "info": "1920 x 779px recommended"
        },
        {
          "type": "url",
          "id": "block_url",
          "label": "URL",
          "default": "/collections/all"
        },
        {
          "type": "header",
          "content": "Color slideshow"
        },
        {
          "type": "color",
          "id": "color_slider",
          "label": "Color slider",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "checkbox",
          "id": "enable_content1",
          "label": "Enable content 1?",
		  "default": true
        },
        {
          "type": "text",
          "id": "block_content1",
          "label": "Content 1",
          "default": "Quality auto parts and customer service"
        },
        {
          "type": "text",
          "id": "block_content2",
          "label": "Content 2",
          "default": "MULTIVE HAS <strong>QUALITY PARTS</strong>"
        },
        {
          "type": "text",
          "id": "block_content3",
          "label": "Content 3",
          "default": "AT GREAT PRICES"
        },
        {
          "type": "text",
          "id": "block_btn_name",
          "label": "Button name",
          "default": "SHOP NOW"
        },
        {
          "type": "color",
          "id": "bg_btn_name",
          "label": "Background button name",
          "default": "#eeab10"
        },
        {
          "type": "color",
          "id": "bg_btn_name_hover",
          "label": "Background button name hover",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_btn_name",
          "label": "Color button name",
          "default": "#fff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow v5",
      "category": "Slideshow",
      "blocks": [
        {
          "type": "slideshow",
          "settings": {
			"block_content2": "MULTIVE HAS <strong>QUALITY PARTS</strong>",
			"block_content3": "AT GREAT PRICES"
          }
        },
        {
          "type": "slideshow",
          "settings": {
			"block_content2": "START YOUR SEARCH OF OVER",
			"block_content3": "<strong>60,000 CAR PARTS</strong>"
          }
        },
        {
          "type": "slideshow",
          "settings": {
			"block_content2": "THE PART YOU NEED",
			"block_content3": "<strong>YOU NEED THEM</strong>"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}