<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-slideshow-v2">
      <div class="slick-side-h2">       
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == "slideshow" %}
        <div class="itemv-slide-h2">
          <div class="info-sideh2">
            <div class="picture-slideshow">
              {% if block.settings.block_banerimage != blank %}
              <img src="{{block.settings.block_banerimage | img_url: 'master'}}" class="img-responsive img_slideh2" alt="">
              {% else %}
              <img src="//placehold.it/1881x962" class="img-responsive img_slideh2" alt="slideshow">
              {% endif %}
            </div>
         
            <div class="box-content">
              {% if block.settings.block_subtitle != blank %}
              <p class="mb-0" style="color:{{block.settings.color_subtitle}};">{{block.settings.block_subtitle}}</p>
              {% endif %}              
              
              {% if block.settings.block_title_top != blank %}
              <h3 class="title1" style="color:{{block.settings.color_block_title_top}};">{{ block.settings.block_title_top }}</h3>
              {% endif %} 
              
              {% if block.settings.block_title_top2 != blank %}
              <h3 class="title2" style="color:{{block.settings.color_block_title_top}};">{{ block.settings.block_title_top2 }}</h3>
              {% endif %}
              <div class="box-button">
                {% if block.settings.block_buton != blank %}
                <a class="button-shop-{{section.id}}-{{block.id}}" href="{{block.settings.block_url}}" style="color:{{block.settings.color_block_button}}; background-color:{{block.settings.color_bg_block_button}}">
                  {{ block.settings.block_buton }}
                </a>
                {% endif %}
              </div>
              
            </div>            
            <div class="picture_left">
              {% if block.settings.block_picture_left != blank%}
              <img src="{{block.settings.block_picture_left | img_url: 'master'}}" class="img-responsive" alt="">
              {% else %}
              <img src="//placehold.it/601x864" class="img-responsive" alt="img-slideshow">
              {% endif%}
            </div>            
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        
      </div>
  </div>
</div>
<style>
  {% for block in section.blocks %}
  {% if block.type == 'slideshow' %}
	.section-slideshow-v2 .slick-active .info-sideh2 .box-content .box-button .button-shop-{{section.id}}-{{block.id}}:hover{
    	background-color: {{block.settings.color_bg_block_button_hover}} !important;
    }

  {% endif %}
  {% endfor %}
</style>
{% schema %}
{
  "name": "Slideshow v2",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "slideshow",
      "settings": [
		{
          "type": "image_picker",
          "id": "block_banerimage",
          "label": "Image slideshow",
          "info": "1881 x 962px recommended"
        },
		{
          "type": "text",
          "id": "block_subtitle",
          "label": "Sub Title sideshow",
          "default": "NEW TREND"
        },
		{
           "type": "color",
           "id": "color_subtitle",
           "label": "Color Sub Title sideshow",
           "default": "#8e8e8e"
        },
        {
          "type": "text",
          "id": "block_title_top",
          "label": "Title sideshow top",
          "default": "Super"
        },
		{
          "type": "text",
          "id": "block_title_top2",
          "label": "Title sideshow top 2",
          "default": "minimalist"
        },
		{
           "type": "color",
           "id": "color_block_title_top",
           "label": "Color Title sideshow top",
           "default": "#333333"
        },
        {
          "type": "text",
          "id": "block_buton",
          "label": "Button slideshow",
          "default": "Shop now"
        },
		{
           "type": "color",
           "id": "color_block_button",
           "label": "Color button",
           "default": "#fff"
        },
		{
           "type": "color",
           "id": "color_bg_block_button",
           "label": "Color background button",
           "default": "#222"
        },
		{
           "type": "color",
           "id": "color_bg_block_button_hover",
           "label": "Color background button hover",
           "default": "#48c8fd"
        },
        {
          "type": "url",
          "id": "block_url",
          "label": "URL button slideshow",
          "default": "/collections/all"
        },
		{
          "type": "image_picker",
          "id": "block_picture_left",
          "label": "Image left",
          "info": "601 x 864px png recommended"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow v2",
      "category": "HOME 2",
	  "blocks": [
        {
          "type": "slideshow",
          "settings": {
            "block_subtitle": "NEW TREND",
            "block_title_top": "Super",
			"block_title_top2": "minimalist",
			"block_buton": "Shop now"
          }
        },
		 {
          "type": "slideshow",
          "settings": {
            "block_subtitle": "EVELAND HANDPICKED",
            "block_title_top": "Spring",
			"block_title_top2": "collection",
			"block_buton": "Shop now"
          }
        },
		 {
          "type": "slideshow",
          "settings": {
            "block_subtitle": "TRENDING COLLETION",
            "block_title_top": "Eveland",
			"block_title_top2": "collection",
			"block_buton": "Shop now"
          }
        }		
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
