<div data-section-id="{{ section.id }}" data-section-type="section-newsletter-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  {% if settings.newsletter_form_action != blank %}
  {% assign form_action = settings.newsletter_form_action %}
  {% else %}
  {% assign form_action = '#' %}
  {% endif %}
  <div class="section-newsletter-v1 {% if section.settings.enable-pd-small %}pd-small{% endif %}" style="background: {{section.settings.bg_newsletter}}">
    <div class="container container-v2">
      
        {% if section.settings.title_newletter != blank %}
        <div class="title_newletter">
          <h3 class="title mb-0 {% if section.settings.enable-text-uppercase %} text-uppercase {% endif %}" style="font-size:{{section.settings.text_size_title}}px">{{section.settings.title_newletter}}</h3>
        </div>
        {% endif %}
        
        {% if section.settings.content_newletter != blank %}
        <p class="mb-0 content">{{section.settings.content_newletter}}</p>
        {% endif %}      
      
      <div class="row ">        
        <div class="col-lg-12">
          <div class="newletter_email">          
          <form class="needs-validation form-inline" action="{{form_action}}" method="post">
            <div class="form-group">                           
              <input type="email" name="EMAIL" class="form-control" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" required >                 
            </div>
            <button class="btn" type="submit">{{ 'general.newsletter_form.submit_footer' | t }}</button>
          </form>
        </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  
</style>


{% schema %}
{
  "name": "Newsletter v1",
  "settings": [

	{
      "type": "color",
      "id": "bg_newsletter",
      "label": "Background Color",
      "default": "#fbf3f0"
    },
    {
      "type": "text",
      "id": "title_newletter",
      "label": "Title Newletter",
      "default": "GET UPDATE"
    },
	{
        "type": "checkbox",
        "id": "enable-pd-small",
        "label": "padding small",
        "default": true
      },
	
	 {
        "type": "checkbox",
        "id": "enable-text-uppercase",
        "label": "Text Uppercase",
        "default": true
      },
	 {
        "type": "range",
        "id": "text_size_title",
        "label": "Text size",
        "min": 15,
        "max": 50,
        "step": 5,
        "default": 40
      },
	{
      "type": "text",
      "id": "content_newletter",
      "label": "Content Newletter",
      "default": "Subscribe our newsletter and get discount 30% off"
    },

    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "Newsletter v1",
      "category": "HOME 3 and Home 5"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}