<footer class="footer_v1">
  <div class="top-footer">
    <div class="container container-v2">    
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv1_1}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv1_1].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv1_2}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv1_2].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv1_3}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv1_3].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="info_footer end">
            <div class="title_footer">          
              <h4 class="mb-0">{{settings.titlecolum_fv1_4}}</h4>         
            </div>
            {% if settings.content_colum_fv1_4 != blank  %}
            	<p class="mb-0 content_footer">{{settings.content_colum_fv1_4}}</p>
            {% endif %}

              {% if settings.newsletter_form_action != blank %}
              {% assign form_action = settings.newsletter_form_action %}
              {% else %}
              {% assign form_action = '#' %}
              {% endif %}          
              <form class="needs-validation form-inline" action="{{form_action}}" method="post">
                <div class="form-group mb-2">                           
                  <input type="email" name="EMAIL" class="form-control">                 
                </div>
                 <button class="btn mb-2" type="submit">{{ 'general.newsletter_form.submit_footer' | t }} <i class="ml-2 fa fa-angle-right"></i></button>
              </form>
            
            
            <div class="list-icon">
              <ul class="list-inline list-unstyled mb-0">
                {% if settings.icon_sc_fv1_1 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_1}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_1}}"></i></a>
                </li>
                {% endif %}
                {% if settings.icon_sc_fv1_2 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_2}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_2}}"></i></a>
                </li>
                {% endif %}
                {% if settings.icon_sc_fv1_3 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_3}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_3}}"></i></a>
                </li>
                {% endif %}
                {% if settings.icon_sc_fv1_4 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_4}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_4}}"></i></a>
                </li>
                {% endif %}        	

              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if settings.enable_fv1_bottom %}
  <div class="copyright">
    <div class="container container-v2">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 text-lg-left text-md-left">
          {% if settings.fv1_bottom_copyright != blank %}
          <p class="text-copyright mb-0">{{settings.fv1_bottom_copyright}}</p>
          {% else %}
          <p class="text-copyright mb-0">Website by <a href="#">Famithemes</a>. Copyright Evelandshop</p>
          {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 text-lg-right text-md-right">
          {% if settings.fv1_bottom_payment_img != blank %}
          <img src="{{settings.fv1_bottom_payment_img | img_url:'master'}}"  alt="">
          {% else %}
          <img src="//placehold.it/247x23"  alt="">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</footer>
<style>
  
</style>